/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}


/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  background-color: rgb(171, 216, 201);
}

/* WRITE YOUR CODE BELOW HERE */

* {
  font-size: 10px;
}
a {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: azure;
  font-size: 1.5rem;
  line-height: 1.2rem;
  letter-spacing: 0.8px;
  word-spacing: 2px;
}

h1 {
  text-align: center;
}
h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

section {
  text-indent: 20px;
}

aside ul {
  line-height: 2;
}
nav ul {
  line-height: 4;
  list-style-type: none;
  font-size: 2rem;

}
nav ul li {
  border: 1px solid aquamarine;
  
}
nav ul li a {
  align-content: center;
  font-size: 1.5rem;
}

a:link,
a:visited {
  color: aqua;
}

a:hover {
  text-decoration: none;
  color: green;
}