/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}


/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  background-color: rgb(171, 216, 201);
}

/* WRITE YOUR CODE BELOW HERE */

* {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: azure;
  font-size: 1.5rem;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
}
nav ul {
  padding-top: 50px;
  line-height: 4;
}
a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
  color: green;
}